footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	aside {
		@include rowMachine(3, 2%);
		@include rems(padding, 4, 0);
		&:nth-child(2) {
			text-align: center;
		}
		&:nth-child(3) {
			text-align: right;
		}
		color: $green;
		a {
			color: $green;
		}
		@media #{$phone} {
			width: 100%;
			@include rems(padding, 1, 0);
			text-align: center!important;
		}
	}
	.container {
		@include clearfix;
	}
}
