input[type=text], input[type=tel], input[type=email], textarea {
	background: #fff;
	@include font-size(1.6, 2);
	font-family: $light;
	@include box;
	width: 100%;
	@include rems(padding, 1);
	border: 1px solid $green;
	outline: none;
	@include rems(margin-bottom, 0.1);
	@include border-radius(10px);
	-webkit-appearance: none;
	&:active, &:focus {
		border-bottom: 2px solid $green;
		margin-bottom: 0;
	}
}
textarea {
	@include rems(height, 20);
}
input[type=submit] {
	float: right;
	background: $green;
	@include font-size(2, 2.4);
	display: block;
	border: none;
	outline: none;
	-webkit-appearance: none;
	color: #fff;
	@include rems(padding, 0.5, 3);
	@include border-radius(10px);
	@include rems(margin-top, 2);
	cursor: pointer;
	&:hover {
		@include opacity(0.8);
	}
}
form {
	@include clearfix;
	br {
		display: none;
	}
	p {
		font-family: $light;
		color: $green;
		@include font-size(2, 2.4);
		@include rems(padding-bottom, 0.5);
	}
	.form-split {
		@include clearfix;
		aside {
			@include rowMachine(2, 2%);
			@media #{$tablet} {
				@include rowMachine(1, 2%);
			}
		}
	}
	span.wpcf7-not-valid-tip {
		@include font-size(1.2, 1.6);
		@include rems(margin-top, 0.5);
		display: block;
		&:before {
			@include font-size(1.6, 1.6);
			@include icon;
			content: "\f06a";
			@include rems(margin-right, 1);
		}
	}
}
