header {
	border-bottom: 1px solid $green;
	@include rems(padding, 2, 0);
	@include clearfix;
	aside {
		width: 50%;
		@include clearfix;
		&:nth-child(1) {
			@media #{$tablet} {
				width: 30%;
				margin-right: 10%;
			}
		}
		&:nth-child(2) {
			@media #{$tablet} {
				width: 60%;
			}
		}
		@media #{$phone} {
			width: 100%;
		}
		h1, h2 {
			text-indent: -10000px;
			background-image: url('images/header-logo.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top left;
			@include rems(height, 8);
			width: 100%;
			@media #{$tablet} {
				@include rems(height, 5);
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			@media #{$phone} {
				background-position: center center;
			}
		}
		nav {
			width: 100%;
			@include clearfix;
			font-family: $light;
			@media #{$phone} {
				display: none;
			}
		}
	}
}
