.landing {
	&-feature {
		background-size: cover;
		@media #{$phone} {
			background-image: none!important;
		}
		.container {
			display: table;
			@include rems(height, 40);
			img {
				display: none;
				@media #{$phone} {
					display: block;
				}
			}
			@media #{$tablet} {
				@include rems(height, 25)
			}
			@media #{$phone} {
				width: 100%;
				height: auto;
			}
			.vert-fix {
				@include clearfix;
				display: table-cell;
				vertical-align: middle;
				h2 {
					float: right;
					display: block;
					@include box;
					@include rems(padding, 2);
					color: #fff;
					@include font-size(4.8, 5);
					text-align: right;
					max-width: 51%;
					font-family: $thin;
					background: $green;
					background: rgba(152, 208, 178, 0.9);
					@media #{$tablet} {
						max-width: 80%;
						@include font-size(3, 3.4);
					}
					@media #{$phone} {
						float: none;
						max-width: 100%;
						width: 100%;
						text-align: center;
						@include box;
						@include rems(padding, 1);
					}
				}
			}
		}
	}
	&-content {
		@include rems(padding, 4, 0);
		h2 {
			color: $green;
			@include font-size(2, 2.4);
			@include rems(margin-bottom, 1.5);
		}
	}
	&-testimonial {
		text-align: center;
		color: $green;
		@include font-size(2.8, 3.2);
		position: relative;
		@include rems(padding, 0, 11);
		@include rems(margin-bottom, 4);
		&:before, &:after {
			content: '';
			display: block;
			@include rems(width, 6.6);
			@include rems(height, 5.4);
			background-size: contain;
			position: absolute;
			background-repeat: no-repeat;
		}
		&:before {
			background-image: url('images/open-quote.png');
			top: 0;
			@include rems(left, 4);
		}
		&:after {
			background-image: url('images/close-quote.png');
			bottom: 0;
			@include rems(right, 4);
		}
		@media #{$tablet} {
			display: none;
		}
	}
}
