.main-content{
	width: 71%;
	@include rems(margin, 4, 0);
	@media #{$phone} {
		width: 100%;
	}
	.feature {
		@include rems(margin-bottom, 2);
		position: relative;
		img {
			display: block;
		}
	}
	.content {
		ul {
			@include rems(margin-bottom, 1.5);
			li {
				background: url('images/bullet.png') top left no-repeat;
				@include rems(padding-left, 2);
				@include rems(margin, 0, 0, 0.5, 2);
				&:last-child {
					margin-bottom: 0;
				}
			}
			&.testimonials {
				li {
					display: block;
					background: $green;
					background-image: none;
					@include rems(margin, 0, 0, 2);
					@include rems(padding, 2);
					color: #fff;
					position: relative;
					h3 {
						color: #fff;
					}
					&:nth-child(even) {
						background: #eee;
						color: #333;
						h3 {
							color: #333;
						}
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.service-content {
		@include rems(padding-bottom, 2);
		@include rems(margin-bottom, 2);
		border-bottom: 1px solid $green;
		@include clearfix;
		a {
			&.button {
				@include rems(padding, 0.5, 1);
				background: $green;
				color: #fff;
				float: right;
				@media #{$phone} {
					display: none;
				}
				&:hover {
					@include opacity(0.8);
				}
			}
		}
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}
