.sidebar {
	width: 25%;
	margin-right: 4%;
	@include rems(margin-top, 4);
	@media #{$phone} {
		display: none;
	}
	.widget {
		background: $green;
		color: #fff;
		@include font-size(1.6, 2);
		@include rems(padding, 1.5);
		@include box;
		&.fixed {
			position: fixed;
			@include rems(top, 4);
		}
		a {
			color: #fff;
			span {
				@media #{$tablet} {
					display: none;
				}
			}
		}
		&.contact {
			@media #{$tablet} {
				ul {
					@include clearfix;
					li {
						float: left;
						@include rowMachine(3, 1%);
						text-align: center;
						display: block;
						i {
							@include font-size(4, 4);
						}
					}
				}
			}
		}
	}
}
