$thin: 'HelveticaNeueW01-Thin', 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$thinit: 'HelveticaNeueW01-ThinIt', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$light: 'HelveticaNeueW01-45Ligh', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$lightit: 'HelveticaNeueW01-46Ligh', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$regular: 'HelveticaNeueW01-55Roma', 'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$italic: 'HelveticaNeueW01-56It', 'HelveticaNeue-Italic', 'Helvetica Neue Italic', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$bold: 'HelveticaNeueW01-75Bold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$boldit: 'HelveticaNeueW01-76Bold', 'HelveticaNeue-BoldIt', 'Helvetica Neue BoldIt', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

a {
	text-decoration: none;
	.main-content & {
		color: $green;
	}
}
h1 {
	&.page-title {
		color: #fff;
		background: $green;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 20;
		@include rems(padding, 1);
		@include font-size(3, 3.6);
		font-family: $light;
		@media #{$phone} {
			@include font-size(2.4, 2.8);
		}
	}
}
h2 {
	.main-content & {
		color: $green;
		@include font-size(1.6, 2);
		@include rems(margin-bottom, 1.5);
	}
	.widget & {
		@include font-size(2, 2.4);
		@include rems(margin-bottom, 1.5);
		@include rems(padding-bottom, 0.5);
		border-bottom: 1px solid #fff;
	}
}
h3 {
	.main-content & {
		color: $grey;
		font-family: $bold;
		@include rems(margin-bottom, 1.5);
	}
}
strong {
	font-weight: normal;
	font-family: $bold;
}
